# 2. String

In [1]:
import sys

In [2]:
print(sys.version)

3.9.13 (main, Aug 25 2022, 18:29:29)
[Clang 12.0.0 ]

In [6]:
!python --version

Python 3.9.13

## 2.1 Printing

In [ ]:
print("HELLO")

In [6]:
print("ABC\tCDE\nFGH")

ABC	CDE
FGH

In [7]:
print("Rose Shakir \\ is a good mother")

Rose Shakir \ is a good mother

In [8]:
print(r"Rose Shakir \is a good mother")

Rose Shakir \is a good mother

In [23]:
#Write a Python code to print the following string in a specific format (see the
# Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.

s1 = "Twinkle, twinkle, little star,"
s2 = "How I wonder what you are!"
s3 = "Up above the world so high,"
s4 = "Like a diamond in the sky."

print(s1,"\n\t", s2,"\n\t\t", s3,"\n\t\t\t", s4)

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
			 Like a diamond in the sky.

In [10]:
Name ="Rose Shakir"

In [8]:
Name

'Rose Shakir'

## 2.2 Type() Method

In [19]:
var1 = ("hello")
print(type(var1))  # <class 'str'>

# Creating a tuple having one element
var2 = ("hello",)
print(type(var2))  # <class 'tuple'>

# Parentheses is optional
var3 = "hello",
print(type(var3))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

## 2.3 Slicing

In [29]:
Name[5]

'S'

In [22]:
Name[-1:-3:-1] # in negative we have to put the jump which is the last no -1

'ri'

In [11]:
Name[0:4]

'Rose'

In [12]:
Name[5:8]

'Sha'

## 2.4 Stride

In [13]:
#stride
Name[::2]

'Rs hkr'

In [14]:
#Slice and stride
Name[0:7:2]

'Rs h'

## 2.5 String_Methods

In [15]:
#Upper() method
A= "rose"
print(A.upper())

ROSE

In [5]:
#Replace() method
A="Rose Shakir"
B=A.replace('Shakir' , "Ali")
B

'Rose Ali'

In [27]:
#find() method
print("os:", B.find('os'))
print("li:", B.find('li'))
print("ir:", B.find('ir'))

os: 1
li: 6
ir: -1

## 2.6 Immutable

In [31]:
Name[0]= "J"
Name

TypeError: 'str' object does not support item assignment

In [32]:
#concatenate
My_Name = Name + " Al-Rubaye"
My_Name

'Rose Shakir Al-Rubaye'