# 3. Tuples

In [34]:
Tuple1 = ("Rose", 100, 6.7) 
Tuple1

('Rose', 100, 6.7)

In [35]:
Tuple1[-1]

6.7

In [36]:
Tuple1[0]

'Rose'

## 3.1 Concatenate

In [38]:
#concatenate
Tuple2 = Tuple1 + ("Moh", 45)
Tuple2

('Rose', 100, 6.7, 'Moh', 45)

In [40]:
#slicing
Tuple2[0:3]

('Rose', 100, 6.7)

In [41]:
#stride
Tuple2[::2]

('Rose', 6.7, 45)

In [42]:
len(Tuple2)

5

In [43]:
#sorting
Ratings = (10,5,7,4,2,1,8,0)
print((sorted(Ratings)))

[0, 1, 2, 4, 5, 7, 8, 10]

In [45]:
ratings_sorted = sorted(Ratings)
ratings_sorted

[0, 1, 2, 4, 5, 7, 8, 10]

## 3.2 Nesting

In [2]:
NT = (1,2,("pop", "rock"), (3,4),"disco",(1,2))
NT

(1, 2, ('pop', 'rock'), (3, 4), 'disco', (1, 2))

In [3]:
NT[2]

('pop', 'rock')

In [4]:
NT[2][1]

'rock'

In [5]:
NT[2][1][1]

'o'

## 3.3 Tuple Methods

In [8]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))  # prints 2
print(my_tuple.index('l'))  # prints 3

2
3

## 3.4 Different Types of Tuples

In [10]:
# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

## 3.5 Create a Python Tuple With one Element

In [11]:
var1 = ("Hello") # string
var2 = ("Hello",) # tuple - We will need a trailing comma to indicate that it is a tuple,

## 3.6 Iterating through a Tuple

In [12]:
languages = ('Python', 'Swift', 'C++')

# iterating through the tuple
for language in languages:
    print(language)

Python
Swift
C++