# 8. Loops

## 8.1 Range

In [4]:
# Use the range

range(3)

range(0, 3)

In [5]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [6]:
# Using the start parameter
for x in range(2, 6):
  print(x)

2
3
4
5

In [7]:
# Increment the sequence with 3 (default is 1)
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

## 8.2 For Loop

In [8]:
# Print all numbers from 0 to 5, and print a message when the loop has ended
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [10]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [1]:
#Exit the loop when x is "banana"
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [2]:
# Do not print banana:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [2]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [3]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [4]:
# Exmaple of for loop, loop through list

for year in dates:  
    print(year)

1982
1980
1973

In [5]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [6]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

## 8.3 Nested Loop

In [12]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## 8.4 While Loop

In [1]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

In [2]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [18]:
# Python program to find the factorial of a number provided by the user.


num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(2,num+1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

#for x in range(2,4):
#    print(x)

Enter a number: 4
The factorial of 4 is 24